{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'web/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.css' %}">
    <link href="{% static 'web/css/style001.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'web/css/hircana.css' %}" type="text/css" rel="stylesheet">
</head>
<body>



<!--begin menu -->
<div class="container">

    <div class="row ">

        <div class="col-lg-2 col-md-4 col-12 mt-sm-2 order-md-1 order-lg-1">
            <div class="text-center">
                <a href="/">
                    <img src="{% static 'web/img/logo2.png' %}" class="img-fluid ">
                </a>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-12 order-md-3 order-lg-2">
            <div class="  ">
                <a href="{{ top_banner.url }}">

                    <img src="{{ top_banner.image.url }}" class="img-fluid mb-3">
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-12 order-md-2 order-lg-3">
            <div class="top-search margin-search mt-md-5 mt-lg-4">
                <form method="get" action="search">
                    <input name="search" type="text" class="form-control" placeholder="جستو جو در همه اخبار">
                    <button type="submit" class="bg-search">
                        <i class="fa fa-search icon-header-color "></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg bg-nav-color sticky-top header  mt-2 ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav pr-lg-0">
                {% for key ,value in  model.items %}
                    <li class="nav-item dropdown ">
                        <a class="nav-link nav-text-color pb-3" href="/search?subcategory={{ j.id }}">{{ key }}</a>
                        <ul class="dropdown-menu fade-up">
                            {% for j in value %}
                                <li><a class="dropdown-item" href="/search?category={{ j.id }}">{{ j.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>

<section>
    <div class="container">
        <div class="row pb-5">
            <div class="col-md-6 col-12 mt-3">
                <div class="img-relative img-hover">
                    <a href="/show-news/{{ top3.0.id }}" class="img-top-news-1">
                        <img src=" {{ top3.0.picture.url }}" class="img-fluid">
                        <div class="text-box-top-news-1">
                            <div class="circle-title"></div>
                            <p class="font_15 p-0 style-top-tittle line-height-text">
                                {{ top3.0.title }}
                            </p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="style-text mt-3">
                            <div class="row">
                                <div class="col-md-6 col-5">
                                    <a href="/show-news/{{ top3.1.id }}" class="img-top-news-2">
                                        <img src=" {{ top3.1.picture.url }}" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-md-6 col-7 py-2">
                                    <p class=" font_13 text-p line-height-text">{{ top3.1.title }}</p>
                                    <a href="/show-news/{{ top3.1.id }}" class="text-p">
                                        <div class="circle-title"></div>
                                        <p class="font_13 style-tittle line-height-text">{{ top3.1.content| safe |stringformat:".20s" }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="style-text mt-3">
                            <div class="row">
                                <div class="col-md-6 col-5">
                                    <a href="/show-news/{{ top3.2.id }}" class="img-top-news-2">
                                        <img src=" {{ top3.2.picture.url }}" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-md-6 col-7 py-2">
                                    <p class=" font_13 text-p line-height-text">{{ top3.2.title }}</p>
                                    <a href="/show-news/{{ top3.2.id }}" class="text-p">
                                        <div class="circle-title"></div>
                                        <p class="font_13 style-tittle line-height-text">{{ top3.2.content| safe |stringformat:".20s" }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-content pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 ">

                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="border-title-cat">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="bg-subject">
                                            <div class="text-center style-subject ">
                                                <span>موضوعات </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="style-li overflow-style">
                                            <ul class="mt-3 pr-0">
                                                <li class="style-ul ml-3">
                                                    <a href="#">
                                                        <div class="circle-subject"></div>
                                                        <span class="font_14 color-subject">جام جهانی 2022 قطر</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 ">
                            <div class="row ">
                                <div class="col-12">
                                    {% for i in posts %}
                                        <div class="border-bottom py-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="style-text">
                                                        <div class="row">
                                                            <div class="col-3 pl-0">
                                                                <a href="/show-news/{{ i.id }}" class="img-news-bartar">
                                                                    <img src="{{ i.picture.url }}" class="img-fluid">
                                                                </a>

                                                            </div>
                                                            <div class="col-9  mt-2 line-height-text">
                                                                <p class=" font_13 text-p mb-1">{{ i.title }}</p>

                                                                <p class="text-p font_13 line-height-text">
                                                                    {{ i.title|safe|stringformat:'.20s' }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="mt-3">
                                        <div class="bg-white-cat">
                                            <div class="px-3">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-12 mt-3 ">
                                                            <div class="bg-style-more-see ">
                                                                <div class="circle-more-see"></div>
                                                                <span class="end-news">پربازدید ترین ها</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="row">
                                                    {% for i in top10popular %}
                                                        <div class="col-12">
                                                            <div class="py-2">
                                                                <a href="/show-news/{{ i.id }}">
                                                                <span class="font_133 color-text">
                                                                    {{ i.title }}
                                                                 </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">

                                    <div class="mt-3">
                                        <div class="bg-white-cat">
                                            <div class="px-3">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-12 mt-3 ">
                                                            <div class="bg-style-more-see ">
                                                                <div class="circle-more-see"></div>
                                                                <span class="end-news">پربحث ترین ها</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="row">
                                                    {% for i in top10discuss %}
                                                        <div class="col-12">
                                                            <div class="py-2">
                                                                <a href="/show-news/{{ i.id }}">
                                                                <span class="font_133 color-text">
                                                                    {{ i.title }}
                                                                 </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 mt-3 mt-lg-0">
                            <div class="bg-style-title">
                                <div class="text-p">
                                    <div class="circle-title2"></div>
                                    <span class="font_13 style-tittle ">
                                       پیشخوان
                                    </span>
                                </div>
                            </div>
                            <div class="sticky-top col_z_index">
                                {% for i in top5choice %}

                                    <div class="style-text p-2 ">
                                        <div class="row">
                                            <div class="col-5">
                                                <a href="/show-news/{{ i.id }}" class="img-read-news">
                                                    <img src="{{ i.picture.url }}" class="img-fluid">
                                                </a>
                                            </div>

                                            <div class="col-7 pr-0">
                                                <a href="/show-news/{{ i.id }}" class="text-p mt-2">
                                                    <p class="font_13 mt-1 ">
                                                        {{ i.title }}
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="mt-3">
                                <div class="bg-white-cat">
                                    <div class="px-3">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-12 mt-3 ">
                                                    <div class="bg-style-more-see ">
                                                        <div class="circle-more-see"></div>
                                                        <span class="end-news">آخرین اخبار</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="row">
                                            {% for i in top10last %}
                                                <div class="col-12">
                                                    <div class="py-2">
                                                        <a href="/show-news/{{ i.id }}">
                                                                <span class="font_133 color-text">
                                                                    {{ i.title }}
                                                                 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="bg-white-content mt-3">
                <div class="p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-video">
                                <div class="row">
                                    <div class="col-6">
                                        <div style="text-align: right">
                                            <span class="color-teldio font_15">ویدیو های برتر</span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div style="text-align: left">
                                            {#                                            <a href="#">#}
                                            {#                                                <span class="color-video font_15">مشاهده همه ویدیو ها</span>#}
                                            {#                                            </a>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 order-2">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="style-text">
                                        <div class="row">
                                            <div class="col-4 pl-0">
                                                <a href="/show-news/{{ top_top_news_with_video.1.id }}"
                                                   class="img-news-teldio">
                                                    <img src="{{ top_top_news_with_video.1.picture.url }}"
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-8 mt-3">
                                                <a href="/show-news/{{ top_top_news_with_video.1.id }}">
                                                    <p class=" text-p font_16 mb-1">
                                                        {{ top_top_news_with_video.1.title }}
                                                    </p>
                                                </a>
                                                <p class="text-p font_13 mt-3">
                                                    {{ top_top_news_with_video.1.created_at }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="style-text">
                                        <div class="row">
                                            <div class="col-4 pl-0">
                                                <a href="/show-news/{{ top_top_news_with_video.2.id }}"
                                                   class="img-news-teldio">
                                                    <img src="{{ top_top_news_with_video.2.picture.url }}"
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-8 mt-3">
                                                <a href="/show-news/{{ top_top_news_with_video.2.id }}">
                                                    <p class=" text-p font_16 mb-1">
                                                        {{ top_top_news_with_video.2.title }}
                                                    </p>
                                                </a>
                                                <p class="text-p font_13 mt-3">
                                                    {{ top_top_news_with_video.2.created_at }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="style-text">
                                        <div class="row">
                                            <div class="col-4 pl-0">
                                                <a href="/show-news/{{ top_top_news_with_video.3.id }}"
                                                   class="img-news-teldio">
                                                    <img src="{{ top_top_news_with_video.3.picture.url }}"
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-8 mt-3">
                                                <a href="/show-news/{{ top_top_news_with_video.3.id }}">
                                                    <p class=" text-p font_16 mb-1">
                                                        {{ top_top_news_with_video.3.title }}
                                                    </p>
                                                </a>
                                                <p class="text-p font_13 mt-3">
                                                    {{ top_top_news_with_video.3.created_at }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="style-text">
                                        <div class="row">
                                            <div class="col-4 pl-0">
                                                <a href="/show-news/{{ top_top_news_with_video.4.id }}"
                                                   class="img-news-teldio">
                                                    <img src="{{ top_top_news_with_video.4.picture.url }}"
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-8 mt-3">
                                                <a href="/show-news/{{ top_top_news_with_video.4.id }}">
                                                    <p class=" text-p font_16 mb-1">
                                                        {{ top_top_news_with_video.4.title }}
                                                    </p>
                                                </a>
                                                <p class="text-p font_13 mt-3">
                                                    {{ top_top_news_with_video.4.created_at }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="style-text">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-6 col-12">
                                                <a href="/show-news/{{ top_top_news_with_video.0.id }}"
                                                   class="img-news-teldio">
                                                    <img src="{{ top_top_news_with_video.0.picture.url }}"
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-lg-12 col-md-6 col-12 mt-3">
                                                <a href="/show-news/{{ top_top_news_with_video.0.id }}">
                                                    <div class="circle-title"></div>
                                                    <p class=" text-p font_16 mb-1 style-tittle">
                                                        {{ top_top_news_with_video.0.title }}
                                                    </p>
                                                </a>
                                                <p class="text-p font_13 mt-2" style="color: #000">
                                                    {{ top_top_news_with_video.0.title|stringformat:".20s" }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mt-5">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div style="text-align: right">
                                    <span class="color-ax-rooz font_20">عکس روز</span>
                                </div>
                            </div>
                            <div class="col-6">
                                {#                                <div style="text-align: left">#}
                                {#                                    <a href="#">#}
                                {#                                        <span class="color-pic font_15">مشاهده همه تصاویر</span>#}
                                {#                                    </a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for i in top_top_news_with_image %}
                        <div class="col-md-3 col-12">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="style-text">
                                        <div class="row">
                                            <div class="col-12">
                                                <a href="/show-news/{{ i.id }}" class="img-news-teldio">
                                                    <img src="{{ i.picture.url }}"
                                                         class="img-fluid w-100">
                                                </a>

                                            </div>
                                            <div class="col-12  mt-3">

                                                <a href="/show-news/{{ i.id }}">
                                                    <div class="circle-title"></div>

                                                    <p class=" text-p font_14 mb-1 style-tittle line-height-text">
                                                        {{ i.title }}
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-md-inline-block d-none ">
                <div class="row">

                    {% for key ,value in  model.items %}
                        <div class="col-2 mt-5">
                            <a href="/search?category={{ key }}" class="style-title-footer">
                                {{ key }}
                            </a>
                            <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                                {% for j in value %}
                                    <li class="">
                                        <a href="/search?subcategory={{ j.id }}" class="hover-txt-footer">
                                            {{ j.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="border-top-footer">
            <div class="row">
                <div class="col-md-6 col-12 text-md-right text-center">
                    <div class="style-li">
                        <ul style="list-style: none" class="p-0">
                            <li>
                                <a href="{{ settings.twitter }}" class="">
                                    <i class="fab fa-twitter color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.instagram }}" class="">
                                    <i class="fab fa-instagram color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.telegram }}" class="">
                                    <i class="fab fa-telegram color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.whatsapp }}" class="">
                                    <i class="fab fa-whatsapp color-media"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-footer">
        <div class="container">
            <div class="row">

                <div class="col-12  col-md-6">
                    <div class="text-center text-md-right font_13 font-weight-bold">

                        کلیه حقوق این سایت متعلق به خبرگزاری اردیبهشت خبر بوده و استفاده از مطالب آن با ذکر منبع بلامانع
                        است.

                    </div>
                </div>

                <div class="col-12  col-md-6">
                    <div class="text-center text-md-left font_13 font-weight-bold mt-2 mt-md-0">

                        طراحی وتولید توسط
                        <a href="https://hircana.com">هیرکانا</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="scrolltop" onclick="scroll_top()">
    <i class="fa fa-chevron-up arrow_icon" style="color: #333"></i>
</div>


<script src="{% static 'web/js/jquery.2.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/owl.carousel.js' %}"></script>
<script src="{% static 'web/js/js.js' %}" type="text/javascript"></script>

</body>
</html>
