{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'web/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.css' %}">
    <link href="{% static 'web/css/style001.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'web/css/hircana.css' %}" type="text/css" rel="stylesheet">

</head>
<body>

<!--begin header -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="header-border-top p-1" style="color: #5e5e5e">

                 1401 / 08/18
                <span class="mx-2 ">
                    08 : 18
                </span>

            </span>
            <span>
                <a href="#" class="header-btn-border">
                    استرالیا
                </a>
            </span>
        </div>
    </div>
</div>
<!--end header -->


<!--begin menu -->
<div class="container">

    <div class="row ">

        <div class="col-lg-2 col-md-4 col-12 mt-sm-2 order-md-1 order-lg-1">
            <div class="text-center">
                <a href="index.html">
                    <img src="{% static 'web/img/1111.png' %}" class="img-fluid ">
                </a>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-12 order-md-3 order-lg-2">
            <div class="  ">
                <img src="{% static 'web/img/orginal_1657783529.jpg' %}" class="img-fluid mb-3">
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-12 order-md-2 order-lg-3">
            <div class="top-search margin-search mt-md-5 mt-lg-4">
                <form method="get" action="search">
                    <input name="serch" type="text" class="form-control" placeholder="جستو جو در همه اخبار">
                    <button type="button" name="button" class="bg-search">
                        <i class="fa fa-search icon-header-color "></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg bg-nav-color sticky-top header  mt-2 ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav pr-lg-0">
                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="#">صفحات</a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="index.html"> صفحه اصلی</a></li>
                        <li><a class="dropdown-item" href="category.html">دسته بندی ها </a></li>
                        <li><a class="dropdown-item" href="show-news.html"> نمایش خبر </a></li>
                        <li><a class="dropdown-item" href="contact.html"> ارتباط با ما </a></li>
                        <li><a class="dropdown-item" href="about-us.html"> درباره ی ما </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link  nav-text-color pb-3" href="category.html">بین الملل</a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">ایران</a></li>
                        <li><a class="dropdown-item" href="#"> کافه بین الملل </a></li>
                        <li><a class="dropdown-item" href="#"> عناوین کل اخبار بین الملل </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link  nav-text-color pb-3" href="category.html">ورزشی</a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">توپ و تور</a></li>
                        <li><a class="dropdown-item" href="#">پایه آبی </a></li>
                        <li><a class="dropdown-item" href="#">فوتبال و فوتسال</a></li>
                        <li><a class="dropdown-item" href="#">کشتی و رزمی </a></li>
                        <li><a class="dropdown-item" href="#">عناوین کل اخبار ورزشی </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link  nav-text-color pb-3" href="category.html"> اجتماعی </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">محیط زیست</a></li>
                        <li><a class="dropdown-item" href="#">رفاه و تعاون</a></li>
                        <li><a class="dropdown-item" href="#">عناوین کل اخبار اجتماعی</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html"> اقتصادی </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">بانک و بیمه</a></li>
                        <li><a class="dropdown-item" href="#">بورس</a></li>
                        <li><a class="dropdown-item" href="#">راه و شهرسازی</a></li>
                        <li><a class="dropdown-item" href="#">عناوین کل اخبار اقتصادی</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html">فرهنگی هنری </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#"> رادیو و تلویزیون</a></li>
                        <li><a class="dropdown-item" href="#">سینما و تئاتر </a></li>
                        <li><a class="dropdown-item" href="#">عناوین کل اخبار فرهنگی و هنری </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html"> علمی و پزشکی </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">دانلود نرم افزار</a></li>
                        <li><a class="dropdown-item" href="#"> کلینیک </a></li>
                        <li><a class="dropdown-item" href="#">عناوین کل اخبار علمی و پزشکی </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html"> فیلم و صوت </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#"> آموزشی </a></li>
                        <li><a class="dropdown-item" href="#">گزارش استان ها </a></li>
                        <li><a class="dropdown-item" href="#"> عناوین کل اخبار فیلم و صوت </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html"> عکس </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">خبری</a></li>
                        <li><a class="dropdown-item" href="#">مستند</a></li>
                        <li><a class="dropdown-item" href="#"> عناوین کل اخبار عکس </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html"> استان ها </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">گلستان</a></li>
                        <li><a class="dropdown-item" href="#"> تهران </a></li>
                        <li><a class="dropdown-item" href="#">عناوین کل اخبار استان ها</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html">شهروند خبر نگار</a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#"> شهروند خبرنگار</a></li>
                        <li><a class="dropdown-item" href="#"> عناوین کل اخبار شهروند خبر نگار</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="category.html">وب گردی </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#"> خواندنی ها</a></li>
                        <li><a class="dropdown-item" href="#"> مجله سرگرمی </a></li>
                        <li><a class="dropdown-item" href="#">اخبار داغ</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>

<!--end menu-->


<!--begin content-->

<section>

    <div class="bg-content-show-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="mt-3">
                        <p class="font_16" style="font-weight: bold">{{ model.title }}</p>
                    </div>
                    <div class="col-md-6 col-12 mt-3">
                    </div>
                    {{ model.content|safe }}
                    <div class="row">
                        <div class="col-12">
                            <span>
                                <ul class="style-ul style-li p-0">
                                    <span class="style-tag">
                                        برچسب ها :
                                    </span>
                                    {% for i in hashtags %}
                                        <li>
                                    <a href="/search?hashtag={{ i.id }}" style="color: #000" class="mr-2">
                                        {{ i.hashtag.name }}
                                    </a>
                                </li>
                                    {% endfor %}
                            </ul>
                            </span>
                        </div>
                    </div>

                    <section>
                        <div class="mt-5">
                            <div class="circle-title"></div>
                            <span class="sab-news">اخبار مرتبط</span>
                        </div>
                        <div class="mt-4">
                            <div class="row">
                                {% for i in relational %}
                                    <div class="col-lg-3 col-md-4 col-12">
                                        <div class="border-sab-news">
                                            <p>{{ i.post.title }}</p>
                                            <a href="/show-news/{{ i.post.id }}">
                                                <div class="circle-titr"></div>
                                                <span class="font_15 style-text-sab-news">
                     									{{ i.post.content|safe|stringformat:'.14s' }}
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="mt-5">
                            <div class="circle-title"></div>
                            <span class="sab-news">اخبار پیشنهادی</span>
                        </div>
                        <div class="mt-2">
                            <div class="row">
                                {% for i in offers %}
                                    <div class="col-md-3 col-6">
                                        <div class="row">
                                            <div class="col-12 mt-3">
                                                <div class="style-text">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <a href="show-news.html" class="img-news-teldio">
                                                                <img src="{{ i.picture.url }}"
                                                                     class="img-fluid">
                                                            </a>

                                                        </div>
                                                        <div class="col-12  mt-3">

                                                            <a href="/show-news/{{ i.id }}">
                                                                <div class="circle-title"></div>

                                                                <p class=" text-p font_14 mb-1 style-tittle">
                                                                    {{ i.picture.url }}

                                                                </p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>


                    <section>
                        <div class="mt-5">
                            <div class="circle-title"></div>
                            <span class="style-text-comment">تبادل نظر</span>
                        </div>
                        <div class="mt-2">
                            <form action="/" method="post">
                                <div class="border-sab-news">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <div class="py-2">
                                                    <span class="frm-name">نام:</span>
                                                </div>
                                                <div>
                                                    <input class="form-control" type="text" name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <div class="py-2">
                                                    <span class="frm-name">ایمیل:</span>
                                                    <span class="font_12" style="float: left">ایمیل خود را با فرمت مناسب وارد کنید</span>
                                                </div>
                                                <div>
                                                    <input class="form-control" type="email" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="py-2">
                                                    <span class="frm-name">نظر:</span>
                                                </div>

                                                <div>
                                                    <textarea class="form-control w-100" type="text"
                                                              name="comment com-message"></textarea>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-default font_12" name="submitbutt"
                                                    style="color: #fff">
                                                ارسال نظر
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </section>
                </div>


                <div class="col-lg-3 d-lg-inline-block d-none">

                    <div class="bg-content-whit border mt-3">
                        <ul class="nav nav-tabs aaa">
                            <li class="nav-item">
                                <a class="nav-link active color-btn" data-toggle="tab" href="#home1"
                                   style="text-align: center">پربیننده ترین ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-btn" data-toggle="tab" href="#menu11"
                                   style="text-align: center">پر بحث ترین ها </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane  active " id="home1">
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                    یارانه نقدی آبان یک روز زودتر واریز شد
                                                </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        اکتشافات مهم تاریخی که جهان را در حیرت فرو برد + تصاویر
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        شوخی کی روش با وزیر ورزش
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        علت فوت نسرین قادری مسمومیت ناشی از مصرف متانول است
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        شوخی کی روش با وزیر ورزش
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                                            </span>
                                    </a>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="menu11">
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        اکتشافات مهم تاریخی که جهان را در حیرت فرو برد + تصاویر
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        شوخی کی روش با وزیر ورزش
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        علت فوت نسرین قادری مسمومیت ناشی از مصرف متانول است
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        علت فوت نسرین قادری مسمومیت ناشی از مصرف متانول است
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        شوخی کی روش با وزیر ورزش
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                                            </span>
                                    </a>
                                </div>
                                <div class="px-3 pt-2 pb-1">
                                    <a href="show-news.html">
                                        <div class="circle-titr"></div>
                                        <span class="font_12 color-text">
                                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                                            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-3">
                        <div class="bg-white">
                            <div class="px-3">
                                <a href="#">
                                    <div class="row">
                                        <div class="col-12 mt-3 ">
                                            <div class="bg-style-soozhe ">
                                                <div class="circle-end-news"></div>

                                                <span class="end-news">آخرین اخبار</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="py-2">
                                            <a href="show-news.html">
                                                <span class="font_13 color-text">
                    بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<!--end content-->


<!--begin footer-->
<section class="bg-color-gray ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-md-inline-block d-none">
                <nav class="navbar navbar-expand-md navbar-dark ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon d-none"></span>
                    </button>

                    <div class="navbar-brand d-none " href="#">
                        <i class="fa fa-search mt-2 ml-2 red_social"></i>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="footer_menu navbar-nav font_13 pr-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" style="color: #000">پخش زنده</a>
                            </li>
                            <li class="nav-item color-menu-footer">
                                <a class="nav-link " href="#" style="color: #000">آرشیو</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">پیوند ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">خبرنامه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">آب و هوا</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">اوقات شرعی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">نظرسنجی </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="about-us.html" style="color: #000">درباره ما </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="contact.html" style="color: #000">تماس با ما </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">نقشه سایت </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" style="color: #000">RSS </a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-brand d-none d-lg-inline-block ">

                        <div class="top-search-footer ">
                            <form method="get" action="search">
                                <input name="serch" type="text" class="form-control" placeholder="جستجو">
                                <button type="button" name="button" class="bg-search">
                                    <i class="fa fa-search icon-header-color "></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-md-inline-block d-none ">
                <div class="row">
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            خبرگزاری اردیبهشت خبر
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    عناوین کل خبر
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    آرشیو
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    صدای مردم
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            بین الملل
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    بین الملل
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    ایران
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    خاور میانه
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            سیاسی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    ورزشی
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    فوتبال و فوتسال
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    توپ و تور
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            اجتماعی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    شهری
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    حوادث و انتظامی
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    رفاه و تعاون
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            اقتصادی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    بانک و بیمه
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    بورس
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    صنعت، تجارتو کشاورزس
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            فرهنگی هنری
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    رادیو تلویزیون
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    سینما و تئاتر
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    موسیقی و هنر های تجسمی
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            علمی و پزشکی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    دانشگاه و کنکور
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    آموزش و پرورش
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    بهداشت و درمان
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            فیلم و صوت
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    فیلم و صوت
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    گزارش استان ها
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    10:10
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            عکس
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    خبری
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    استان ها
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    مستند
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            استان ها
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    استان ها
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    عناوین کل استان ها
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            شهروند خبر نگار
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    شهروند خبرنگار
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    عناوین کل شهروند خبر نگار
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a href="category.html" class="style-title-footer">
                            وب گردی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    وب گردی
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    خواندنی ها
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="hover-txt-footer">
                                    مجله سرگرمی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top-footer">
            <div class="row">

                <div class="col-md-6 col-12 text-md-right text-center">
                    <div class="style-li">
                        <ul style="list-style: none" class="p-0">
                            <li>
                                <a href="#" class="">
                                    <i class="fab fa-twitter color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fab fa-instagram color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fab fa-telegram color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fab fa-android color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fa fa-search-plus color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fab fa-whatsapp color-media"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fa fa-wifi color-media"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-12 text-center ">
                    <div style="text-align: left" class="mt-1">
                        <span class="font_12">
                            THE WORLD'S LARGEST
                            <span style="color: #e00000">
                                PERSIAN
                            </span>
                            LANGUAGE NEWS AGENCY
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-footer">
        <div class="container">
            <div class="row">

                <div class="col-12  col-md-6">
                    <div class="text-center text-md-right font_13 font-weight-bold">

                        کلیه حقوق این سایت متعلق به خبرگزاری اردیبهشت خبر بوده و استفاده از مطالب آن با ذکر منبع بلامانع
                        است.

                    </div>
                </div>

                <div class="col-12  col-md-6">
                    <div class="text-center text-md-left font_13 font-weight-bold mt-2 mt-md-0">

                        طراحی وتولید توسط
                        <a href="https://hircana.com">هیرکانا</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end footer-->


<div class="scrolltop" onclick="scroll_top()">
    <i class="fa fa-chevron-up arrow_icon" style="color: #333"></i>
</div>


<script src="{% static 'web/js/jquery.2.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/js/owl.carousel.js' %}"></script>
<script src="{% static 'web/js/js.js' %}" type="text/javascript"></script>

</body>
</html>
