@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
/*new font*/
@font-face {
    font-family: 'Iransans';
    src: url('../fonts/IRANSansWeb_Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Iransans';
    src: url('../fonts/IRANSansWeb_Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Iransans';
    src: url('../fonts/IRANSansWeb.ttf');
    font-weight: 300;
    font-style: normal;
}
